@model Microsoft.Azure.ActiveDirectory.GraphClient.AppRole

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Role</title>
</head>
    <body>
    <h2>Create Role</h2><br/>
        
        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)
    
            <fieldset>
    
                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }
    
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>
</html>
@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in. Click @Html.ActionLink("here", "Create", "Users", new { reauth = true }, null) to sign-in.</p>
}
